####################################
# Visual Studio / MSVC
####################################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ipch

####################################
# Build outputs (MSVC / CMake)
####################################
Debug/
Release/
x64/
x86/
bin/
obj/
out/
build/

*.exe
*.dll
*.lib
*.pdb
*.ilk
*.obj
*.pch
*.idb
*.tlog
*.log

####################################
# CMake / Ninja
####################################
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja

####################################
# External libraries (local only)
####################################
rapidjsonLibrary/

####################################
# Simulation / FDTD results
####################################
result/
debug*.txt

# Field data (기본은 무시)
*.dat
*.txt

# 예외: 반드시 추적해야 하는 입력/설정 파일
!Media.dat
!Inc_Apply_to_*.txt

####################################
# OS / temp files
####################################
Thumbs.db
.DS_Store
*.tmp